In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df = pd.read_csv("D:\Redi_DataCircle2\survey_results_public.csv")

In [39]:
df = df.dropna(subset=['ConvertedCompYearly'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  89184 non-null  object
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47858 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), int64(1), object(80)
memory usage: 57.2+ MB

In [ ]:
#Check if important for salary
df["RemoteWork"]
df["Age"] - categorize
df["Employment"] - simplify
df["EdLevel"]
df["YearsCode"] or "YearsCodePro" before change rthe columns less then or more then  (should be normalized or categorized for ML)
"YearsCodePro" make more sence cause its exp without studying. check if its always less or not. also  check with df["WorkExp"]  and choose one of them
df["DevType"] question is if there is enought for some special roles
df["OrgSize"] categorise
df["PurchaseInfluence"] categorise
df["Country"] - group firstly to bigger groups (EU, EastEurope, others)
df["ProfessionalTech"] group firstly 
df["Industry"]

In [29]:
df["ProfessionalTech"].value_counts()

ProfessionalTech
None of these                                                                                                                                                                                           3346
DevOps function;Microservices;Automated testing;Observability tools;Developer portal or other central places to find tools/services;Continuous integration (CI) and (more often) continuous delivery    2114
DevOps function;Microservices;Automated testing;Observability tools;Continuous integration (CI) and (more often) continuous delivery                                                                    1881
DevOps function;Microservices;Automated testing;Continuous integration (CI) and (more often) continuous delivery                                                                                        1298
DevOps function;Automated testing;Continuous integration (CI) and (more often) continuous delivery                                                                                                      1215
                                                                                                                                                                                                        ...
Observability tools;Innersource initiative;Continuous integration (CI) and (more often) continuous delivery;AI-assisted technology tool(s)                                                                 1
Microservices;Observability tools;None of these                                                                                                                                                            1
Continuous integration (CI) and (more often) continuous delivery;None of these;AI-assisted technology tool(s)                                                                                              1
DevOps function;Automated testing;Innersource initiative;AI-assisted technology tool(s)                                                                                                                    1
DevOps function;Microservices;Automated testing;Observability tools;Innersource initiative;Continuous integration (CI) and (more often) continuous delivery;None of these                                  1
Name: count, Length: 272, dtype: int64

In [8]:
df["Age"].value_counts()

Age
25-34 years old       22163
35-44 years old       13848
18-24 years old        4922
45-54 years old        4866
55-64 years old        1795
65 years or older       339
Under 18 years old       56
Prefer not to say        30
Name: count, dtype: int64

In [35]:
df["Knowledge_1"].value_counts()

Knowledge_1
Agree                         19812
Strongly agree                15502
Neither agree nor disagree     3593
Disagree                       2603
Strongly disagree              1025
Name: count, dtype: int64

In [30]:
def drop_from_df(df, labels, axis=1):
    return df.drop(labels, axis=axis, errors='ignore')

In [41]:
df = drop_from_df(df, ['Q120', 'TechList','BuyNewTool','SurveyLength','SurveyEase'])

In [37]:
replacement_map = {
    "I am a developer by profession": "dev",
    "I am not primarily a developer, but I write code sometimes as part of my work/studies": "code, but not dev",
    "I am learning to code": "learning",
    "I code primarily as a hobby": "hobby",
    "I used to be a developer by profession, but no longer am": "was developer",
    "None of these": "other"
}
df['MainBranch'] = df['MainBranch'].replace(replacement_map)

In [40]:
df['MainBranch'].value_counts()

MainBranch
dev                  44354
code, but not dev     3665
Name: count, dtype: int64

In [25]:
df["CompTotal"].value_counts()#.head(40) - do a visualisation of distribution

CompTotal
100000.0     1355
60000.0      1290
120000.0     1240
150000.0     1150
80000.0      1066
             ...
165.0           1
182700.0        1
2810000.0       1
49280.0         1
182333.0        1
Name: count, Length: 3797, dtype: int64

Knowledge_1	I have interactions with people outside of my immediate team.

Knowledge_2	Knowledge silos prevent me from getting ideas across the organization (i.e., one individual or team has information that isn't shared with others)	

Knowledge_3	I can find up-to-date information within my organization to help me do my job.

Knowledge_4	I am able to quickly find answers to my questions with existing tools and resources.

Knowledge_5	I know which system or resource to use to find information and answers to questions I have.

Knowledge_6	I often find myself answering questions that I’ve already answered before.	

Knowledge_7	Waiting on answers to questions often causes interruptions and disrupts my workflow.

Knowledge_8	I feel like I have the tools and/or resources to quickly understand and work on any area of my company's code/system/platform.

Positive Questions (where "Strongly agree" indicates a better work experience or environment):
Knowledge_1: Positive. If someone strongly agrees, it means they have good interactions beyond their immediate team, suggesting a positive, collaborative environment.
Knowledge_3: Positive. Being able to find up-to-date information to do one's job is a positive aspect of the work environment.
Knowledge_4: Positive. Quickly finding answers with existing tools and resources indicates efficiency and good support systems.
Knowledge_5: Positive. Knowing which system or resource to use for information indicates clarity and good organizational structure.
Knowledge_8: Positive. Having the necessary tools and resources for understanding and working on company code/system/platform suggests a well-equipped and supportive environment.

Negative Questions (where "Strongly agree" indicates a less favorable work experience or environment):
Knowledge_2: Negative. Agreeing strongly suggests that knowledge silos are a significant issue, hindering the sharing of ideas and information across the organization.
Knowledge_6: Negative. If someone often finds themselves answering the same questions, it can imply inefficiencies or communication gaps.
Knowledge_7: Negative. Waiting on answers causing interruptions is a sign of inefficiency and can lead to frustration and disrupted workflow.

Frequency - not relevant
1. Needing help from people outside of your immediate team?  
2. Interacting with people outside of your immediate team?  

3. Encountering knowledge silos (where one individual or team has information that's not
shared or distributed with other individuals or teams) at work?

df["OrgSize"]

In [54]:
df["OrgSize"].value_counts()

OrgSize
20 to 99 employees                                    10310
100 to 499 employees                                   9518
10,000 or more employees                               6099
1,000 to 4,999 employees                               5702
2 to 9 employees                                       4318
10 to 19 employees                                     3886
500 to 999 employees                                   3450
5,000 to 9,999 employees                               2063
Just me - I am a freelancer, sole proprietor, etc.     2054
Name: count, dtype: int64

In [53]:
from pandas.api.types import CategoricalDtype
cat_type = CategoricalDtype(categories=[
    'Just me - I am a freelancer, sole proprietor, etc.', 
    '2 to 9 employees', 
    '10 to 19 employees', 
    '20 to 99 employees', 
    '100 to 499 employees', 
    '500 to 999 employees', 
    '1,000 to 4,999 employees', 
    '5,000 to 9,999 employees', 
    '10,000 or more employees', 
], ordered=True)

df['OrgSize'] = df['OrgSize'].astype(cat_type)
df['OrgSize_encoded'] = df['OrgSize'].cat.codes
df.loc[df['OrgSize'].isna() | (df['OrgSize'] == 'I don’t know'), 'OrgSize_encoded'] = -1
df['OrgSize'] = df['OrgSize'].astype(cat_type)

In [55]:
df['OrgSize_encoded'].value_counts()

OrgSize_encoded
 3    10310
 4     9518
 8     6099
 6     5702
 1     4318
 2     3886
 5     3450
 7     2063
 0     2054
-1      619
Name: count, dtype: int64

df["Employment"]

In [7]:
df["Employment"].value_counts()

Employment
Employed, full-time                                                                                                                                                                                             53748
Student, full-time                                                                                                                                                                                               7430
Independent contractor, freelancer, or self-employed                                                                                                                                                             7076
Employed, full-time;Independent contractor, freelancer, or self-employed                                                                                                                                         4354
Not employed, but looking for work                                                                                                                                                                               2553
                                                                                                                                                                                                                ...
Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Employed, part-time;Student, part-time;Not employed, and not looking for work        1
Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time;Student, part-time                                                                                                      1
Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time;Retired                                                                                                                 1
Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Not employed, and not looking for work                                                                  1
Employed, full-time;Not employed, but looking for work;Employed, part-time;Student, part-time                                                                                                                       1
Name: count, Length: 106, dtype: int64

In [42]:
def calculate_knowledge_score(df):
    positive_points = {
        "Strongly agree": 5,
        "Agree": 4,
        "Neither agree nor disagree": 3,
        "Disagree": 2,
        "Strongly disagree": 1,
        pd.NA: 0}
    negative_points = {
        "Strongly agree": 1,
        "Agree": 2,
        "Neither agree nor disagree": 3,
        "Disagree": 4,
        "Strongly disagree": 5,
        pd.NA: 0}

    positive_questions = ["Knowledge_1", "Knowledge_3", "Knowledge_4", "Knowledge_5", "Knowledge_8"]
    negative_questions = ["Knowledge_2", "Knowledge_6", "Knowledge_7"]

    for col in df.columns:
        if col in positive_questions:
            df[col] = df[col].map(positive_points)
        elif col in negative_questions:
            df[col] = df[col].map(negative_points)

    df['Knowledge_Score'] = df[positive_questions + negative_questions].sum(axis=1)

    return df

In [43]:
calculate_knowledge_score(df)

,ResponseId,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Knowledge_8,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,ConvertedCompYearly,Knowledge_Score
1,2,dev,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,5.0,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",285000.0,29.0
2,3,dev,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,4.0,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",250000.0,28.0
3,4,dev,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,...,4.0,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,156000.0,33.0
4,5,dev,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,...,4.0,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,23456.0,23.0
5,6,dev,35-44 years old,"Employed, full-time",Remote,Hobby;Professional development or self-paced l...,Some college/university study without earning ...,Books / Physical media;Colleague;Online Course...,Formal documentation provided by the owner of ...,Other,...,2.0,1-2 times a week,1-2 times a week,3-5 times a week,30-60 minutes a day,15-30 minutes a day,DevOps function;Microservices;Observability to...,Other,96828.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89162,89163,dev,35-44 years old,"Employed, full-time",Remote,I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Formal documentation provided by the owner of ...,NaN,...,3.0,6-10 times a week,6-10 times a week,3-5 times a week,60-120 minutes a day,60-120 minutes a day,Automated testing;Developer portal or other ce...,"Information Services, IT, Software Development...",50719.0,24.0
89166,89167,dev,18-24 years old,"Employed, full-time;Independent contractor, fr...",In-person,Contribute to open-source projects;Professiona...,Some college/university study without earning ...,Books / Physical media;Hackathons (virtual or ...,Formal documentation provided by the owner of ...,Codecademy;Udemy,...,3.0,1-2 times a week,1-2 times a week,1-2 times a week,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Continuous integ...,Financial Services,16917.0,26.0
89167,89168,dev,18-24 years old,"Employed, full-time",Remote,Hobby;Bootstrapping a business;Professional de...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,edX;Udemy;Coursera,...,4.0,1-2 times a week,1-2 times a week,NaN,Over 120 minutes a day,30-60 minutes a day,Automated testing,Retail and Consumer Services,15752.0,25.0
89170,89171,dev,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Bootstrapping a business;Freelance/contract work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Colleague;Hackathons (virtual or in-person);On...,Formal documentation provided by the owner of ...,Other,...,1.0,3-5 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Observability tools;Innersou...,Other,64254.0,19.0
89171,89172,dev,25-34 years old,"Employed, full-time",In-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Formal documentation provided by the owner of ...,NaN,...,5.0,1-2 times a week,10+ times a week,Never,15-30 minutes a day,30-60 minutes a day,None of these,"Information Services, IT, Software Development...",61041.0,29.0

In [45]:
df = drop_from_df(df, ['Knowledge_1', 'Knowledge_2','Knowledge_3','Knowledge_4','Knowledge_5','Knowledge_6','Knowledge_7','Knowledge_8'])

In [46]:
display(df['TimeSearching'].value_counts(),
        df['TimeAnswering'].value_counts() )

TimeSearching
30-60 minutes a day           12382
15-30 minutes a day            8902
60-120 minutes a day           5759
Less than 15 minutes a day     2877
Over 120 minutes a day         2268
Name: count, dtype: int64

TimeAnswering
15-30 minutes a day           10397
30-60 minutes a day            9938
Less than 15 minutes a day     6085
60-120 minutes a day           4279
Over 120 minutes a day         1427
Name: count, dtype: int64

In [47]:
df['Country'].value_counts()

Country
United States of America                                11881
Germany                                                  3970
United Kingdom of Great Britain and Northern Ireland     3544
Canada                                                   2105
India                                                    1868
                                                        ...
Gabon                                                       1
Guinea-Bissau                                               1
Mauritania                                                  1
Botswana                                                    1
Antigua and Barbuda                                         1
Name: count, Length: 171, dtype: int64

In [63]:
grouped_data = df.groupby('Country')['ConvertedCompYearly'].agg(['mean', 'median', 'count'])

grouped_data.sort_values(by='count', ascending=False).head(50)

,mean,median,count
Country,,,
United States of America,170783.961199,150000.0,11881
Germany,82457.479093,74963.0,3970
United Kingdom of Great Britain and Northern Ireland,95948.670429,81931.0,3544
Canada,142136.677435,89222.0,2105
India,27346.822805,19023.0,1868
France,65101.007773,56757.0,1801
Netherlands,85128.483847,74963.0,1362
Poland,64335.517378,57518.5,1266
Brazil,52883.154952,30431.0,1252
Australia,172617.624277,95851.0,1211
Spain,59906.971304,49261.0,1150
Sweden,65003.224432,57542.0,1056
Italy,50595.266798,42836.0,1012
Switzerland,132553.690332,122064.5,662
Austria,80699.340866,71000.0,531
Denmark,101836.885659,93173.0,516
Czech Republic,59613.657201,54592.0,493
Norway,84747.629630,76568.0,486
Portugal,78275.953975,53545.0,478
Israel,114575.031915,112257.0,470
Belgium,84706.265169,64254.0,445
Finland,72157.306818,69608.0,440
Russian Federation,33126.746479,27227.0,426
Ukraine,45102.496437,44420.0,421
New Zealand,109678.277778,78913.0,414
Romania,57885.063725,51786.0,408
Turkey,35879.222785,23504.0,395
South Africa,259535.945869,41497.0,351
Greece,47021.306548,38552.0,336
Mexico,48364.324242,33777.5,330
Hungary,47006.215686,39808.5,306
Ireland,108026.028070,96381.0,285
Colombia,33809.165468,21506.5,278
Argentina,40352.068592,30000.0,277
Pakistan,15012.566406,5959.0,256
Bulgaria,51078.506276,45983.0,239
"Iran, Islamic Republic of...",60449.714932,21260.0,221
Serbia,49876.995122,43315.0,205
Japan,71852.466321,57346.0,193
Lithuania,63105.451087,55687.0,184
Slovakia,51955.261111,49796.5,180
Slovenia,64100.593023,53545.0,172
Indonesia,17992.077381,7878.0,168
China,59630.820359,43613.0,167
Croatia,52969.993827,43658.5,162
Bangladesh,18800.825000,6508.0,160
Estonia,61521.090909,58899.0,143
Singapore,110678.561151,85228.0,139
Chile,41115.615942,37493.0,138
Philippines,37899.792593,17770.0,135

In [64]:
grouped_data.sort_values(by='mean', ascending=False).head(50)

,mean,median,count
Country,,,
Mali,9.156200e+06,25807.5,4
Afghanistan,8.436361e+05,915.0,11
Ethiopia,6.943592e+05,7004.5,26
Thailand,6.280319e+05,34508.0,104
Nomadic,4.331968e+05,102000.0,18
South Africa,2.595359e+05,41497.0,351
Australia,1.726176e+05,95851.0,1211
United States of America,1.707840e+05,150000.0,11881
Canada,1.421367e+05,89222.0,2105
Dominica,1.328570e+05,132857.0,1
Switzerland,1.325537e+05,122064.5,662
Andorra,1.203688e+05,42836.0,5
Israel,1.145750e+05,112257.0,470
Kuwait,1.130972e+05,75272.5,6
Singapore,1.106786e+05,85228.0,139
Luxembourg,1.105750e+05,107090.0,44
Djibouti,1.105165e+05,110516.5,2
New Zealand,1.096783e+05,78913.0,414
Ireland,1.080260e+05,96381.0,285
Denmark,1.018369e+05,93173.0,516
Monaco,1.012555e+05,101255.5,2
Swaziland,9.975250e+04,99195.0,4
Liechtenstein,9.919500e+04,99195.0,1
Guinea-Bissau,9.638100e+04,96381.0,1
United Kingdom of Great Britain and Northern Ireland,9.594867e+04,81931.0,3544
United Arab Emirates,8.533769e+04,61896.0,84
Netherlands,8.512848e+04,74963.0,1362
Norway,8.474763e+04,76568.0,486
Belgium,8.470627e+04,64254.0,445
Iceland,8.465972e+04,85182.0,29
Germany,8.245748e+04,74963.0,3970
Cyprus,8.226360e+04,69608.0,43
Austria,8.069934e+04,71000.0,531
Guinea,8.000000e+04,80000.0,1
Portugal,7.827595e+04,53545.0,478
Qatar,7.789925e+04,67559.5,4
Uruguay,7.789808e+04,51592.0,75
Barbados,7.474150e+04,74741.5,2
Hong Kong (S.A.R.),7.329011e+04,58326.0,84
Finland,7.215731e+04,69608.0,440
Japan,7.185247e+04,57346.0,193
The former Yugoslav Republic of Macedonia,6.820496e+04,37481.5,28
Nigeria,6.721912e+04,10398.0,128
Montenegro,6.695565e+04,50867.5,26
Latvia,6.538405e+04,51403.0,98
Saint Kitts and Nevis,6.517300e+04,65173.0,1
France,6.510101e+04,56757.0,1801
Sweden,6.500322e+04,57542.0,1056
Poland,6.433552e+04,57518.5,1266
Malta,6.422092e+04,56222.0,26

In [17]:
df_GER = df[df['Country'] == 'Germany']
df_GER = df_GER[['Age','Employment','RemoteWork','EdLevel','YearsCodePro','DevType','OrgSize','ConvertedCompYearly','Knowledge_Score']]
df_GER = df_GER.rename(columns={'ConvertedCompYearly': 'Salary'})

In [18]:
df_GER = df_GER.dropna(subset=['RemoteWork', 'YearsCodePro', 'DevType', 'OrgSize'])

In [19]:
df_GER.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3942 entries, 15 to 89146
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              3942 non-null   object
 1   Employment       3942 non-null   object
 2   RemoteWork       3942 non-null   object
 3   EdLevel          3942 non-null   object
 4   YearsCodePro     3942 non-null   object
 5   DevType          3942 non-null   object
 6   OrgSize          3942 non-null   object
 7   Salary           3942 non-null   float64
 8   Knowledge_Score  3942 non-null   float64
dtypes: float64(2), object(7)
memory usage: 308.0+ KB

In [24]:
df_USA = df[df['Country'] == 'United States of America'].copy()
df_USA = df_USA[['Age','Employment','RemoteWork','EdLevel','YearsCodePro','DevType','OrgSize','ConvertedCompYearly','Knowledge_Score']]
df_USA = df_USA.rename(columns={'ConvertedCompYearly': 'Salary'})

In [25]:
df_USA = df_USA.dropna(subset=['RemoteWork', 'YearsCodePro', 'DevType', 'OrgSize'])

In [26]:
df_USA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11811 entries, 1 to 89156
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              11811 non-null  object
 1   Employment       11811 non-null  object
 2   RemoteWork       11811 non-null  object
 3   EdLevel          11811 non-null  object
 4   YearsCodePro     11811 non-null  object
 5   DevType          11811 non-null  object
 6   OrgSize          11811 non-null  object
 7   Salary           11811 non-null  float64
 8   Knowledge_Score  11811 non-null  float64
dtypes: float64(2), object(7)
memory usage: 922.7+ KB

In [27]:
corr_matrix = df.corr()['ConvertedCompYearly']

ValueError: could not convert string to float: '25-34 years old'

In [46]:
display (df["Frequency_1"].value_counts()
         , df["Frequency_2"].value_counts()
         , df["Frequency_3"].value_counts()
         )

Frequency_1
1-2 times a week     25528
Never                10707
3-5 times a week      4100
6-10 times a week      847
10+ times a week       734
Name: count, dtype: int64

Frequency_2
1-2 times a week     18930
3-5 times a week      9809
10+ times a week      4794
6-10 times a week     4383
Never                 4009
Name: count, dtype: int64

Frequency_3
1-2 times a week     21470
Never                12107
3-5 times a week      5125
6-10 times a week     1280
10+ times a week      1072
Name: count, dtype: int64

In [20]:
''''
-can write a function that look for some words and create a boolean column
LearnCode
LearnCodeOnline
df["LearnCodeCoursesCert"]
df["LanguageHaveWorkedWith"]
DatabaseHaveWorkedWith
PlatformHaveWorkedWith
WebframeHaveWorkedWith
MiscTechHaveWorkedWith
ToolsTechHaveWorkedWith
NEWCollabToolsHaveWorkedWith
 SurveyLength                         86485 non-null  object 
 82  SurveyEase                           86554 non-null  object 
 83  ConvertedCompYearly''''

NameError: name 'LearnCode' is not defined

In [ ]:
#check CompTotal  if  is the same as if df["ConvertedCompYearly"] and df["Currency"]. look for outliers, mistakes, not correct convertations and other anomalies