In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("D:\Redi_DataCircle2\survey_results_public.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  89184 non-null  object
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47858 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), int64(1), object(80)
memory usage: 57.2+ MB

In [20]:
can write a function that look for some words and create a boolean column
LearnCode
LearnCodeOnline
df["LearnCodeCoursesCert"]
df["LanguageHaveWorkedWith"]
DatabaseHaveWorkedWith
PlatformHaveWorkedWith
WebframeHaveWorkedWith
MiscTechHaveWorkedWith
ToolsTechHaveWorkedWith
NEWCollabToolsHaveWorkedWith
 SurveyLength                         86485 non-null  object 
 82  SurveyEase                           86554 non-null  object 
 83  ConvertedCompYearly

NameError: name 'LearnCode' is not defined

In [49]:
df["ConvertedCompYearly"].value_counts()#.head(40)

ConvertedCompYearly
64254.0     784
53545.0     615
150000.0    585
200000.0    558
74963.0     557
           ...
31494.0       1
859.0         1
77904.0       1
74917.0       1
16917.0       1
Name: count, Length: 8784, dtype: int64

In [ ]:
check CompTotal  if  is the same as if df["ConvertedCompYearly"] and df["Currency"]. look for outliers, mistakes, not correct convertations and other animalies

In [ ]:
#Check if important for salary
df["RemoteWork"]
df["Age"] - categorize
df["Employment"] - simplify
df["EdLevel"]
df["YearsCode"] or "YearsCodePro" before change rthe columns less then or more then  (should be normalized or categorized for ML)
"YearsCodePro" make more sence cause its exp without studying. check if its always less or not. also  check with df["WorkExp"]  and choose one of them
df["DevType"] question is if there is enought for some special roles
df["OrgSize"] categorise
df["PurchaseInfluence"] categorise
df["Country"] - group firstly to bigger groups (EU, EastEurope, others)
df["ProfessionalTech"] group firstly 
df["Industry"]

In [ ]:
df["Currency"] use this to check info in Country and afterwards drop as unrelevant

In [7]:
def drop_from_df(df, labels, axis=1):
    return df.drop(labels, axis=axis, errors='ignore')

In [13]:
df["Age"].value_counts()

Age
25-34 years old       33247
35-44 years old       20532
18-24 years old       17931
45-54 years old        8334
Under 18 years old     4128
55-64 years old        3392
65 years or older      1171
Prefer not to say       449
Name: count, dtype: int64

In [42]:
df["Knowledge_1"].value_counts()

Knowledge_1
Agree                         19812
Strongly agree                15502
Neither agree nor disagree     3593
Disagree                       2603
Strongly disagree              1025
Name: count, dtype: int64

In [ ]:
df = drop_from_df(df, ['Q120', 'TechList','BuyNewTool','SurveyLength','SurveyEase',])

In [11]:
replacement_map = {
    "I am a developer by profession": "dev",
    "I am not primarily a developer, but I write code sometimes as part of my work/studies": "code, but not dev",
    "I am learning to code": "learning",
    "I code primarily as a hobby": "hobby",
    "I used to be a developer by profession, but no longer am": "was developer",
    "None of these": "other"
}
df['MainBranch'] = df['MainBranch'].replace(replacement_map)

In [43]:
df["CompTotal"].value_counts()#.head(40) - do a visualisation of distribution

CompTotal
1.000000e+05    1355
6.000000e+04    1290
1.200000e+05    1240
1.500000e+05    1150
8.000000e+04    1066
                ...
1.642800e+06       1
1.380910e+05       1
2.957000e+04       1
4.190000e+05       1
3.300000e+09       1
Name: count, Length: 3828, dtype: int64

In [44]:
We can give a points depends from the answer and summarise all answers. 
Afterwards categories and check if there is a corellation with salary

For example
Agree"5"
Strongly agree "4"
Neither agree nor disagree "3"
Disagree "2"
Strongly disagree "1"
NaN 0
Max = 40 points min. 0
Knowledge_1                          42535 non-null  object 
 67  Knowledge_2                          41670 non-null  object 
 68  Knowledge_3                          41798 non-null  object 
 69  Knowledge_4                          41684 non-null  object 
 70  Knowledge_5                          41527 non-null  object 
 71  Knowledge_6                          41520 non-null  object 
 72  Knowledge_7                          41467 non-null  object 
 73  Knowledge_8

SyntaxError: invalid syntax (217119686.py, line 1)

In [ ]:
Frequency 1. Needing help from people outside of your immediate team?  
2. Interacting with people outside of your immediate team?  

3. Encountering knowledge silos (where one individual or team has information that's not
shared or distributed with other individuals or teams) at work?

In [46]:
display (df["Frequency_1"].value_counts()
         , df["Frequency_2"].value_counts()
         , df["Frequency_3"].value_counts()
         )

Frequency_1
1-2 times a week     25528
Never                10707
3-5 times a week      4100
6-10 times a week      847
10+ times a week       734
Name: count, dtype: int64

Frequency_2
1-2 times a week     18930
3-5 times a week      9809
10+ times a week      4794
6-10 times a week     4383
Never                 4009
Name: count, dtype: int64

Frequency_3
1-2 times a week     21470
Never                12107
3-5 times a week      5125
6-10 times a week     1280
10+ times a week      1072
Name: count, dtype: int64